body {
    background-color: black;
}

.card{
    top: 0;
    transition: top ease 0.5s;

}

.card:hover {
    z-index: 5;
    top: -10px;
    box-shadow: 0 5px 22px black;
}

.card-title-code{
    float: left;
    font-size: medium;

}

.card-title-name{
    float: right;
    font-size: medium;
    font-weight: bolder;
}

.card-footer{
    padding:5px;
}

