<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>One Piece TCG Tracker</title>
    <meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script></head>
<link href="static/styles.css" rel="stylesheet">
<body class="bg-dark"  id="site-body" onload="display_contents('{{deck}}','{{miss}}')" >

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">ONE PIECE TCG COLLECTION TRACKER</a>
  <div class="container-fluid">

  <form class="row gy-2 gx-3 align-items-center" id="deck-search" action="/cards" method="POST">
      <div class="col-auto">
         <button class="btn btn-danger" name="query" value="ST01"> ST01</button>
      </div>

      <div class="col-auto">
            <button class="btn btn-success"  name="query" value="ST02"> ST02</button>
      </div>

      <div class="col-auto">
        <label class="visually-hidden" for="autoSizingSelect">Preference</label>
        <button class="btn btn-primary"  name="query" value="ST03"> ST03</button>
      </div>

    <div class="col-auto">
        <label class="visually-hidden" for="autoSizingSelect">Preference</label>
        <button style="background-color: slateblue; color: white"  class="btn " name="query" value="ST04"> ST04</button>
      </div>

      <div class="col-auto">
        <label class="visually-hidden" for="autoSizingSelect">Preference</label>
        <button class="btn btn-secondary"  name="query" value="OP01">OP01</button>
      </div>

      <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox"  id="show-missing" name="showMissing" value=true>
              <label class="form-check-label" for="autoSizingCheck">
                SHOW MISSING
              </label>
            </div>
      </div>

      </form>
  <div class="col-auto">
     <form action="/collection" method="POST">
    <button  id="collection-button" class="btn btn-primary" >VIEW COLLECTION</button>
    </form>
  </div>

   <form class="d-flex" action="/cards" method="POST" >
      <input type="text" id="fname" name="search_bar" >
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

  </div>
</nav>

<div class="container-md">

{% block cards %}

{% endblock %}

</div>


</div>
<!-- ####################################################################################### -->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
<script src='static/index.js'></script>
</body>
</html>

